<ion-header>
    <ion-navbar color="mycolor" style="box-shadow: 0px 3px 15px 0px rgb(107, 107, 107);">
      <ion-title style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Ta Prohm Temple
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <img src="../assets/image/Taprom.jpg" style="box-shadow: 5px 7px 15px 0px rgb(107, 107, 107)">
  <div padding>
    <p>
      Ta Prohm (Khmer: ប្រាសាទតាព្រហ្ម) is the modern name of the temple at Angkor, Siem Reap Province, Cambodia,
      built in the Bayon style largely in the late 12th and early 13th centuries and originally called Rajavihara (in Khmer: រាជវិហារ). 
      Located approximately one kilometre east of Angkor Thom and on the southern edge of the East Baray, it was founded by the Khmer King Jayavarman 388 as a Mahayana Buddhist monastery and university. 
      Unlike most Angkorian temples, Ta Prohm is in much the same condition in which it was found: the photogenic and atmospheric combination of trees growing out of the ruins and the jungle surroundings have made it one of Angkor's most popular temples with visitors. 
      UNESCO inscribed Ta Prohm on the World Heritage List in 1992. Today, it is one of the most visited complexes in Cambodia’s Angkor region
    </p>
  </div>

  <div class="google">Google Map</div>
  <div #map id="my-map" style="box-shadow: 5px 7px 15px 0px rgb(107, 107, 107)"></div>

  <div style="padding: 10px 0px 0px 10px">
    <button ion-button color="danger" icon-left class="whenhover">
      <a href="https://www.google.com/maps/place/Ta+Prohm/@13.4347993,103.8871154,17z/data=!3m1!4b1!4m5!3m4!1s0x311015dfb229a5df:0xcfb9459e2f62051e!8m2!3d13.4347941!4d103.8893041" target="_blank" class="A">Google Maps</a>
    </button>
  </div>
  
</ion-content>