.image {
    position: relative;
}
h2 {
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h6 {
    margin-top: -10px;
    margin-bottom: -15px;
}

.line {
    width: 93%;
}

.titlecenter {
    margin-top: 5%;
    text-align: center;
    padding: 20px 0px 5px;
    font-weight: bold;
}

.titles {
    margin: 6% 0;
    text-align: center;
}
