Angkor {
    #my-map {
        height: 50%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }
    .google{
        font-size: 20px;
        text-align:center;
    }
    .angkor{
        font-size: 20px;
        margin-bottom: 10px;
    }
}
