<!-- Generated template for the DetailComponent component -->
<ion-header>
  <ion-navbar color="mycolor" style="box-shadow: 0px 3px 15px 0px rgb(107, 107, 107);">
    <button ion-button menuToggle>
    </button>
    <ion-title style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Angkor wat Temple
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="angkor" padding-left>Angkor wat</div>
  <img src="../assets/image/angkorwat.jpg">
  <div padding>
    <p> 
      Angkor Wat lies 5.5 kilometres (3.4 mi) north of the modern town of Siem Reap, and a short distance south and slightly east of the previous capital, which was centred at Baphuon. In an area of Cambodia where there is an important group of ancient structures,
      it is the southernmost of Angkor's main sites.
    </p>
    <p>
      According to legend, the construction of Angkor Wat was ordered by Indra to serve as a palace for his son Precha Ket Mealea. According to the 13th-century Chinese traveller Zhou Daguan, 
      some believed that the temple was constructed in a single night by a divine architect.
    </p>
  </div>

  <div class="angkor" padding-left>Angkor Soltistic</div>
  <img src="../assets/image/sunset.jpg">
  <div padding>
    <p>
      The sun raises exactly on the peak of the main Angkor Temple. This only happens twice a year, at the so called equinox – time of the year when the sun crosses the plane of the earth’s equator and day and night are of equal length. 
      It is hard to believe how people were able to build up such amazing events already in ancient times.
    </p>
  </div>

  <div class="google">Google Map</div>
  <div #map id="my-map" ></div>

  <div padding>
    <button ion-button color="danger" icon-left>
      <ion-icon name='ios-send'></ion-icon>
      Google Maps Directly
    </button>
  </div>

  <a href="https://facebook.com" target="_blank">Google Maps</a>

</ion-content>