<ion-header>
  <ion-navbar color="mycolor" style="box-shadow: 0px 3px 15px 0px rgb(107, 107, 107);">
    <button ion-button menuToggle>
    </button>
    <ion-title style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Terk Chros Bosra
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <img src="../assets/image/mondulkiri/busra.jpg" style="box-shadow: 5px 7px 15px 0px rgb(107, 107, 107)">
  
  <div padding>
    <p>
        Locates at Pich Chinda District in 43 kilometer distance from the provincial town by red soil road. Boo Sra is the most beautiful waterfall in Modulkiri and shared into three stages:
    </p>
    <p>
        * First stage: The waterfall has 15-meter diameter and 15-meter to 20-meter height in rainy season, and 20-meter diameter and 18-meter to 25-meter height in dry season. The second stage of waterfall has 150-meter distance from the first stage.</p>
    <p>
        * Second stage: The waterfall has 23-meter diameter and 15-meter to 20-meter height in rainy season, and 20-meter diameter and 18-meter to 25-meter height in dry season. The second stage of waterfall has 150-meter distance from the first stage.
    </p>
    <p>
        * Third stage: The waterfall has stronger speed than the second stage. This stage can not be reached because it locates in the thick forest, lacks of transporting mean and is dangerous due to having fierce-wild animals.
    </p>
  </div>

  <div class="google">Google Map</div>
  <div #map id="my-map" style="box-shadow: 5px 7px 15px 0px rgb(107, 107, 107)"></div>

  <div style="padding: 10px 0px 0px 10px">
      <button ion-button color="danger" icon-left class="whenhover">
        <a href="https://www.google.com/maps/place/Bousra+Waterfall/@12.5665506,107.4167983,17z/data=!3m1!4b1!4m5!3m4!1s0x31725dbd6bdc8991:0x568a7d3584200743!8m2!3d12.5665454!4d107.418987" target="_blank" class="A">Google Maps</a>
      </button>
    </div>

</ion-content>