<ion-header>
  <ion-navbar color="mycolor" style="box-shadow: 0px 3px 15px 0px rgb(107, 107, 107);">
    <ion-title style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Angkor Soltistic
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="../assets/image/mondulkiri/love.jpg">
  <div padding>
    <p>
      Mondulkiri is an eastern province of Cambodia, which is the most sparsely populated province in the whole country although being the largest province in Cambodia. The province is chock full of natural beauty, with thickly forested mountains, 
      powerful waterfalls and the lush green rolling hills of the western side. 
    </p>
    <p>
      Despite the growing deforestation, especially due to the valuable minerals remaining in the deep red, fertile ground, Mondulkiri has still one of the biggest successional woodlands of Cambodia. Except being in Sen Monorom, you'll find deep pure jungle, with a huge variety of flora and fauna. 
      You may also find gigantic and beautiful waterfalls, where you can take an empowering shower, 
      such as the impressive Bou Sraa. 
    </p>
  </div>
  
  <div class="google">Google Map</div>
  <div #map id="my-map" ></div>
  
</ion-content>