mondulkiri {
    #my-map{
        height: 50%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
    }

    .google{
        font-size: 20px;
        text-align:center;
    }
}

a {
    text-decoration: none;
    color: white;
}
.whenhover {
    transition: 0.5s;
}

.whenhover:hover {
    box-shadow: 2px 3px 15px 0px rgb(107, 107, 107);
    transition: 0.5s;
}