<ion-header>
  <ion-navbar color="mycolor" style="box-shadow: 0px 3px 15px 0px rgb(107, 107, 107);">
    <ion-title style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
      Mundolkiri Province
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <img src="../assets/image/mondulkiri/love.jpg" style="box-shadow: 5px 7px 15px 0px rgb(107, 107, 107)">
  <div padding>
    <p>
      Mondulkiri is an eastern province of Cambodia, which is the most sparsely populated province in the whole country although being the largest province in Cambodia. The province is chock full of natural beauty, with thickly forested mountains, 
      powerful waterfalls and the lush green rolling hills of the western side. 
    </p>
    <p>
      Despite the growing deforestation, especially due to the valuable minerals remaining in the deep red, fertile ground, Mondulkiri has still one of the biggest successional woodlands of Cambodia. Except being in Sen Monorom, you'll find deep pure jungle, with a huge variety of flora and fauna. 
      You may also find gigantic and beautiful waterfalls, where you can take an empowering shower, 
      such as the impressive Bou Sraa. 
    </p>
  </div>
  
  <div class="google">Google Map</div>
  <div #map id="my-map" style="box-shadow: 5px 7px 15px 0px rgb(107, 107, 107)"></div>

  <div style="padding: 10px 0px 0px 10px">
    <button ion-button color="danger" icon-left class="whenhover">
      <a href="https://www.google.com/maps/place/Krong+Saen+Monourom/@12.50847,107.0210062,11z/data=!3m1!4b1!4m5!3m4!1s0x3172f0c57a2b5613:0xdacb56fb5d04de27!8m2!3d12.4747941!4d107.1482849" target="_blank" class="A">Google Maps</a>
    </button>
  </div>
  
</ion-content>